{% extends "base.html" %}

{% block content %}
<h1>Tweet generator project</h1>
<h3>by Chris Barnes</h3>
<hr>

<p>Here I have uploaded 3 different sections of the program</p>
<ul>
    <li>The creation of the histogram</li>
    <li>The creation, random generation, and sampling from a first order markov chain</li>
    <li>Then the same but for an Nth order markov Chain</li>
</ul>

<hr>

<h3>Items waiting for approval/Implementation</h3>
<ul>
    <li>Start Stop Tokenization</li>
    <li>Twitter api integration to push to my page</li>
    <li>Computer ascii art saying random text</li>
    <li>Other design improvements</li>
</ul>

{% endblock %}